/.phpunit.cache
/node_modules
/public/hot
/public/storage
/storage/*.key

.env
.env.backup
.env.production
.php-cs-fixer.cache
.phpintel
.phpunit.result.cache
auth.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

.git
composer.json
composer.lock
/*.js
/*.md
/*.phar
/.dockerignore
/.editorconfig
/.env.*
/.php-cs-fixer.php
/.phpstan-bootstrap.php
/.styleci.yml
/Dockerfile
/lint.php
/package.json
/phpstan.neon
/phpunit.xml

/database
/scripts
/tests
/vendor/**/.git
/vendor/**/test
/vendor/**/tests
/vendor/**/Tests
