parameters:
    level: 5

    paths:
        - app

    bootstrapFiles:
        - phpstan-bootstrap.php

    # polluteScopeWithLoopInitialAssignments: false
    # polluteScopeWithAlwaysIterableForeach: false
    # checkFunctionNameCase: true
    # checkInternalClassCaseSensitivity: true
    # checkUninitializedProperties: true
    # checkDynamicProperties: true
